/* Основные стили */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f9;
    color: #1a1a1a;
}

header {
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #0044cc;
    text-decoration: none;
}

.brand-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.profile-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.profile-icon .material-symbols-outlined {
    font-size: 36px;
    color: #0044cc;
    transition: transform 0.3s;
}

.profile-icon .material-symbols-outlined:hover {
    transform: scale(1.05);
    color: #0055ff;
}

/* Отступ от хедера */
main {
    padding-top: 95px;
}

/* Основные стили для профиля */
.profile-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.avatar-container {
    text-align: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 25%;
    object-fit: cover;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

#changeAvatarButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

.form-control {
    padding: 0.75rem;
    margin-top: 0.5rem;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Стили для кнопок */
.btn-primary {
    background-color: #0044cc;
    color: #ffffff;
    border: 2px solid #003399;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0066ff;
    color: #ffffff;

}

/* Стили для уведомлений */
.notifications {
    margin-top: 2rem;
}

.notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-item {
    background-color: #f9f9f9;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Стили для создания команды */
.team-creation {
    margin-top: 2rem;
}

.team-creation h2 {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 600px;
    margin: 10% auto;
    position: relative;
}

/* Стили для галереи аватаров */
.avatar-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.avatar-gallery img {
    width: 80px;
    height: 80px;
    border-radius: 25%;
    object-fit: cover;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

.avatar-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(0, 94, 255);
}

.avatar-gallery img.selected {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(0, 94, 255);
}

.hidden {
    display: none;
}

.profile-text {
    font-size: 1.2em;
    font-weight: bold;
}

.edit-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
    color: #007bff;
}

.edit-icon:hover {
    color: #0056b3;
}

/* Основные стили для модального окна создания команды */
#createTeamModal .modal-content {
    max-width: 750px;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Заголовок модального окна */
#createTeamModal h2 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #0044cc;
    font-weight: bold;
}

/* Форма и элементы */
.form-group {
    margin-bottom: 1.5rem;
}

#teamName,
#teamMemberInput {
    margin-bottom: 1rem;
}

#teamName {
    width: calc(100% - 22px);
}

#teamMemberInput {
    width: calc(100% - 22px);
}

#addMemberButton {
    margin-top: 0.5rem;
}

/* Список участников */
.members-list {
    max-height: 250px;
    overflow-y: auto;
    margin-top: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0;
}

.members-list li {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.members-list li:last-child {
    border-bottom: none;
}

.members-list .avatar-thumbnail {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.members-list span {
    flex-grow: 1;
    font-size: 0.95rem;
}

/* Кнопки внутри модального окна */
.btn-secondary {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-secondary:hover {
    background-color: #ddd;
    color: #000;
}

/* Сообщение об ошибке */
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
}

/* Кнопка закрытия модального окна */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.75rem;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

/* Стили для модального окна успешного создания команды */
#successModal .modal-content {
    padding: 20px;
    max-width: 600px;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#successModal h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #0044cc;
    font-weight: bold;
}

#successMessage {
    margin-bottom: 1rem;
}

#successMembersList {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0;
}

#successMembersList li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#successMembersList li:last-child {
    border-bottom: none;
}

#successMembersList .avatar-thumbnail {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#successMembersList span {
    flex-grow: 1;
}

#closeSuccessButton {
    margin-top: 10px;
}

#teamsList {
    list-style: none;
    padding: 0;
}

.team-item {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.team-item h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.team-members {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.team-members li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.team-members li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.remove-member,
.add-member {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.add-member {
    background-color: #4CAF50;
    margin-top: 10px;
}

.add-member:hover,
.remove-member:hover {
    opacity: 0.9;
}

.loader-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
}

.loader {
    --c: no-repeat linear-gradient(#0044cc 0 0);
    background:
        var(--c), var(--c), var(--c),
        var(--c), var(--c), var(--c),
        var(--c), var(--c), var(--c);
    background-size: 16px 16px;
    animation:
        l32-1 1.5s infinite,
        l32-2 1.5s infinite;
}

@keyframes l32-1 {

    0%,
    100% {
        width: 45px;
        height: 45px
    }

    35%,
    65% {
        width: 65px;
        height: 65px
    }
}

@keyframes l32-2 {

    0%,
    40% {
        background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 50% 50%
    }

    60%,
    100% {
        background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 0 0, 50% 50%
    }
}